<?xml version="1.0" encoding="utf-8" ?>
<!--<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/MyLogs/${date:format=yyyy-MM-dd}-api.log" />
    <target name="eventlog" xsi:type="EventLog" layout="${message}" log="Application" source=" My Custom Api Services" />
    <target name="database" type="Database" connectionString="Server=(localdb)\mssqllocaldb;Database=AspNetDB;Trusted_Connection=True;">
      <commandText> insert into ExceptionLog ([TimeStamp],[Level],Logger, [Message], [Controller], Exception, StackTrace) values (@TimeStamp, @Level, @Logger, @Message, @Controller, @Exception, @StackTrace); </commandText>
      <parameter name="@TimeStamp" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Controller" layout="${event-properties:controller}" />
      <parameter name="@Exception" layout="${exception}" />
      <parameter name="@StackTrace" layout="${stacktrace}" />
      <dbProvider>System.Data.SqlClient</dbProvider>
    </target>
  </targets>
  <rules>
    --><!--I am adding my 3 logging rules here--><!--
    <logger name="*" minlevel="Debug" writeTo="database" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="eventlog" />
  </rules>
</nlog>-->


<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="info">
  <targets>
    <target xsi:type="Database" name="database" type="Database" connectionString="Server=(localdb)\mssqllocaldb;Database=Test;Trusted_Connection=True;">
       <commandText> insert into ExceptionLog ([TimeStamp],[Level],Logger, [Message], [Controller], Exception, StackTrace) values (@TimeStamp, @Level, @Logger, @Message, @Controller, @Exception, @StackTrace); </commandText>
      <parameter name="@TimeStamp" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Controller" layout="${event-properties:controller}" />
      <parameter name="@Exception" layout="${exception}" />
      <parameter name="@StackTrace" layout="${stacktrace}" />
      <dbProvider>System.Data.SqlClient</dbProvider>
      <connectionString>Data Source=(localdb)\mssqllocaldb;Integrated Security=True;Database=Test;Trusted_Connection=True;</connectionString>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="database" />
    <logger name="*" minlevel="Warn" writeTo="database" />
    <logger name="*" minlevel="Error" writeTo="database" />
  </rules>
</nlog>